@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('HelveticaNeueCyr-Bold.woff') format('woff'),
        url('HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

